<%= link_to "на главную", root_url  %>
<br><br>
<table>
<tr>
<td>
<%= @publish_views.user.name %>
</td>
</tr>
<tr>
<td>
<%= @publish_views.title %>
</td>
</tr>
<tr>
<td>
<%= @publish_views.body %>
</td>
</tr>
<tr>
<td>
<%= russian_data @publish_views.created_at %>
</td>
</tr>
</table>

<% if current_user  %>
<% if current_user.id==@publish_views.user_id %>
<br>
<%= link_to "Удалить пост", @publish_views , method: :delete %>
<%= link_to "Редактировать пост", controller: "publishes", action: "edit", id: @publish_views.id  %>

<% end %>
<% end %>

<br>
<br>
<center><h5>comment</h5></center>

<!-------------------------------->
<table>

<% @publish_views.coms.each do |comment| %>
<tr>
<td>
<b>title:</b><%= comment.title %>
</td>
<td>
<b>time:</b>
<%= russian_data comment.created_at %>
</td>
<td>
<b>name:</b>
<%= comment.user_name %>
</td>
<tr>
<td colspan="3">
<b>body:</b>
<%= comment.body %>
</td>
</tr>

	<% end %>
</table>
<br>
<br>
<center><h5>add comment</h5></center>
<%= render 'publishes/form' %>