
<%= form_for @publish do |f| %> 
<table>
<tr>
<td>
    <%= f.label :title, "Заглавие" %>
 </td>
</tr>
<tr>
<td>
    <%= f.text_field :title, class: 'dd' %>
</td>
</tr>
<tr>
<td>
    <%= f.label :body, "Текст" %>
</td>
</tr>
<tr>
<td>
    <%= f.text_area :body, class: 'body_text' %>
    <%= hidden_field_tag(:id, params[:id]) %>
</td>
</tr>
<tr>
<td>
  <%= f.submit %>
  </td>
</tr>
</table>
<% end %>


<br>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>


